* {
	margin: 0;
	box-sizing: border-box;
}

root {
	--font-size: 1.4em;


	--colour-05: "#E6FEF7";
    --colour-10: "#D3FDF1";
    --colour-20: "#A6FCE2";
    --colour-30: "#7AFAD4";
    --colour-40: "#4EF9C5";
    --colour-50: "#20F7B8";
    --colour-60: "#08D99A";
    --colour-70: "#06A273";
    --colour-80: "#046C4D";
    --colour-90: "#023626";
    --colour-95: "#011911";

	--colour-error: "#E2725B";

	--size-s: 16px;
	--size-m: 26px;
	--size-l: 42px;
	--size-xl: 68px;

	font-family: Helvetica Arial sans-serif;
	font-size: var(--font-size);

	background: var(--colour-10);
	color: var(--colour-90);
}

#viewport: {
	margin: 0 *;
	width: 715px;
}



.card {
	padding: var(--size-m);
	border-radius: var(--size-s);
	background-color: var(--colour-50);
}




